<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/main.js"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}"></link>
</head>
<body>
<div>

    <p><span>修改你的账户</span></p>
    <form action="/users/userUpdate" method="post">
        <p><input type="text" name="userName" id="userName" placeholder="请输入用户名"/></p>
        <p>
            <button>修改你的用户名</button>
        </p>
    </form>
</div>
</body>
</html>