<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/main.js"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}"></link>
</head>
<body>
<div>

    <p><span>修改你的账户</span></p>
    <form action="/users/userUpdate" method="post">
        <p><input type="text" name="oldPassword" id="oldPassword" placeholder="请输入旧密码"/></p>
        <p><input type="text" name="userPassword" id="userPassword" placeholder="请输入新密码"/></p>
        <p><input type="text" name="verifyPassword" id="verifyPassword" placeholder="请确认新密码"/></p>

        <p>
            <button>修改密码</button>
        </p>
    </form>
</div>
</body>
</html>